/*for title*/
title {
    color: blue;
}
#header {
    font-family: cursive;
    font-size: 25px;
}
h1 {
    font-size: 150px;
    color: antiquewhite;
}

body {
    background-image: url("img/nature.jpg");
    background-size: cover; 
}